<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
      <script src='/javascripts/jquery-2.2.1.min.js'></script>
      <script src='/javascripts/action.js'></script>

  </head>
  <body>
    <div id="header">
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    </div>

    <div id="section">
      
	<h1 style="background-color:yellow">
	 Temprature Ratings: <p id="log"></p></h1> 
        <p>Displayed above is the current danger level of the fire alarm system. </p>
        <p> Normal = 60-80 degrees </p>
        <p> Warm = 80-110 degrees</p>
        <p> Dangerous = 110-135 degrees</p>
<p> Fire = 135+ degrees</p>

<br>
<button id="get">Button</button>
<br>
<br>
</div>
    <div id="footer">
	FIRE! FIRE! created and implemented by Christina Tobias, Giovanni Soto, and Tatiana Ensslin. 2016 </div>
  <br>
  <br>  
</body>
</html>
